<!DOCTYPE html>
<h1>Starting Page</h1>
<a href='sign_up'><input type='button' value='sign up'/></a>
<br>
<label>Login:</label>
<form action='/login_user' method='POST'>
	<p>Username: <input type='text' name='username'/></p>
	<p>Password: <input type='text' name='password'/></p>
	<br>
	<input type='submit' value='login'/>	
</form>