<!DOCTYPE html>
<h1>Profile Page</h1>
<a href='/new_question'><input type='button' value='Create Question'/></a>
<a href='/home_page'><input type='button' value='Back'/></a>

<p>username: <%= @username %></p>

<form action='/logout' method='GET'>
	<input type='submit' value='Logout'/>
</form>